    <br />
    <br />
    <br /><!-- Component: aboutus/aboutus.html - START -->
    <section class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="content">
              <h1><span>About this Project</span></h1>
              <p>In 2014 the City Council approved the creation of legistlation tracking system. After a competitive bid process, they awarded the bid. The system has an API that we used to create this application.</p>

              <p><a href="http://webapi.legistar.com/Help">Documentation for this API can be found here.</a></p>

              <p>The current City of Minneapolis website contains information on all of the proceedings of City Council, but this information is burried deep in the site and stored in PDFs. </p>

              <p>This applciation is a prototype to explore what is possible with the new API. There was limited data available currently, but we did our best to leverage what was available and </p>

              <p>Vivamus rhoncus felis non lorem adipiscing, ac faucibus diam mattis. Vestibulum malesuada, sem vitae placerat consequat, est odio dapibus est, ac rutrum tortor justo eget sapien. Etiam vehicula mattis aliquet. Sed dictum hendrerit blandit. Suspendisse justo lacus, ultricies quis aliquam eu, convallis vel neque. Integer lobortis eu dolor a molestie. Nulla rhoncus justo vel risus dictum adipiscing. Donec ornare dictum augue, sed bibendum enim mattis a. Donec at metus purus. Duis pellentesque feugiat odio sed vehicula. Pellentesque egestas ac nisi id auctor. Cras aliquet, ligula a lobortis tristique, sapien libero ornare libero, et viverra tellus nisi non ligula. Nullam eleifend lacus sem, sit amet rutrum elit congue vitae. Praesent vehicula viverra odio in aliquet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent interdum nisl et magna dignissim tincidunt.</p>
            </div>
          </div>
        </div>      
      </div>
    </section>
    <!-- Component: aboutus/aboutus.html - END -->
