    <br />
    <br />
    <br />
    <!-- Component: faq/faq.html - START -->
    <section class="">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="list-group bright background-clouds color-text">
              <div class="list-group-item"><h3>Related Links</h3></div>
              <a href="#" class="list-group-item">Hack the Gap
              </a>
              <a href="#" class="list-group-item active">City of Minneapois</a>
              <a href="http://www.granicus.com/" class="list-group-item">Granicus</a>
              <a href="http://opentwincities.org/" class="list-group-item">Open Twin Cities</a>
              <a href="http://www.geekettes.io/cities/twincities/" class="list-group-item">Geekettes</a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="content">
              <h1><span>City Council Members</span></h1>
              <div class="panel-group faq" id="accordion" ng-repeat="councilMembers in councilMembers">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                         {{councilMembers.first_name}} {{councilMembers.last_name}}, Ward {{councilMembers.ward}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body background-clouds">
                      <p>Phone: {{councilMembers.phone}}</p> 
                         <p>Email: {{councilMembers.email}}</p>
                         <p>Neighborhoods: {{councilMembers.neighborhoods}}</p>
                    </div>
                  </div>
                </div>
              
              </div>
            </div>
          </div>
        </div>      </div>
    </section>
    <!-- Component: faq/faq.html - END -->