<!-- Responsive slider - START -->
      <div class="responsive-slider-parallax" data-spy="responsive-slider" data-parallax="true" data-parallax-direction="-1" data-transitiontime="1000" data-autoplay="true">
        <div class="slides-container" data-group="slides">
          <ul>
            <li>
              <div class="slide-body" data-group="slide">
                <div class="container">
                  <div class="wrapper">
                    <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="0" data-length="300">
                      <h2>Neat theme</h2>
                      <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="300" data-length="300"><span>Clean and modern design</span></p>
                      <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="500" data-length="300"><span>Lightweight</span></p>
                      <p class="sub text-left" data-animate="slideAppearLeftToRight" data-delay="700" data-length="300"><span>Standards compliant</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="slide-body" data-group="slide">
                <div class="container">
                  <div class="wrapper">
                    <div class="caption header text-center" data-animate="slideAppearUpToDown" data-delay="0" data-length="300">
                      <h2>Twitter Boostrap</h2>
                      <p class="sub" data-animate="slideAppearDownToUp" data-delay="300" data-length="300"><span>Compatible with version 3</span></p>
                      <p class="sub" data-animate="slideAppearDownToUp" data-delay="500" data-length="300"><span>Perfectly compatible with grid system</span></p>
                      <p class="sub" data-animate="slideAppearDownToUp" data-delay="700" data-length="300"><span>Bootstrap compatible Slider and Calendar plugins</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="slide-body" data-group="slide">
                <div class="container">
                  <div class="wrapper">
                    <div class="caption header text-right" data-animate="slideAppearDownToUp" data-delay="0" data-length="300">
                      <h2>Html <span style="font-weight: 300"><span class="color-alizarin">c</span><span class="color-carrot">o</span><span class="color-sun-flower">l</span><span class="color-emerald">o</span><span class="color-peter-river">r</span></span> classes</h2>
                      <p class="sub" data-animate="slideAppearUpToDown" data-delay="300" data-length="300"><span>"Flat UI" colors palette</span></p>
                      <p class="sub" data-animate="slideAppearUpToDown" data-delay="500" data-length="300"><span>Made to modify any layout element</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <a class="slider-control left hidden-xs hidden-sm" href="#" data-jump="prev"><i class="fa fa-angle-left"></i></a>
        <a class="slider-control right hidden-xs hidden-sm" href="#" data-jump="next"><i class="fa fa-angle-right"></i></a>
        <div class="pages-wrapper background-black">
          <ol class="pages">
            <li><a data-jump-to="1">1</a></li>
            <li><a data-jump-to="2">2</a></li>
            <li><a data-jump-to="3">3</a></li>
          </ol>
        </div>
      </div>
      <!-- Responsive slider - END -->


<!-- Component: index/info-thumbnails.html - START -->
<section class="background-white color-black">
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <a class="info-thumbnail-link" href="/">
        <div class="thumbnail info-thumbnail">
          <div class="caption">
            <h3><span class="fa fa-flag color-lead"></span> Font awesome</h3>
            <p class="description">NEAT template supports as much modern technologies and trends as possible. One of them is font awesome icons. This great set of fonts is available anywhere you want on your page. Some of NEAT ui elements are also using font awesome like this info thumbnails.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-sm-4 col-md-4">
      <a class="info-thumbnail-link" href="/">
      <div class="thumbnail info-thumbnail">
        <div class="caption">
          <h3><span class="fa fa-group color-lead"></span> Color classes</h3>
          <p class="description">You can use template elements as you have them in the examples but if you feel creative you can compose our own color combinations in ui elements. You have beautiful set of flat ui colors to work with just use <i>color-{color-name}</i> or <i>background-{color-name}</i> to change text color or background of any element on the page.</p>
        </div>
      </div>
      </a>
    </div>
    <div class="col-sm-4 col-md-4">
      <a class="info-thumbnail-link" href="/">
        <div class="thumbnail info-thumbnail">
          <div class="caption">
            <h3><span class="fa fa-gavel color-lead"></span> Some more info</h3>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh, sit amet commodo sapien tristique at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras bibendum erat at ultricies rhoncus.</p>
          </div>
        </div>
      </a>
    </div>
  </div>      </div>
</section>
<!-- Component: index/info-thumbnails.html - END -->


